<div class="vejlebib-portrait-split">
  <div class="vejlebib-portrait-split--inner">
    <div class="vejlebib-portrait-split--region-vertical" style="width: 100%; height:50%;">
      <div class="vejlebib-portrait-split--region-content">
        <region region-id="1" show-progress="true" scale="0.5"></region>
      </div>
    </div>
    <div class="vejlebib-portrait-split--region-vertical" style="width: 100%; height:50%;">
      <div class="vejlebib-portrait-split--region-content is-active">
        <region region-id="2" show-progress="true" scale="0.5"></region>
      </div>
    </div>
  </div>
</div>
